#listTweets {
    background-color: lightskyblue;
    width: 500px;
    overflow-x: scroll;
    overflow-y: hidden
}

#numreplies {
    background-color: lightcyan;
}

#numquotes {
    background-color: greenyellow;
}