<script src="https://d3js.org/d3.v4.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='graph.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}"/>

{% extends "bootstrap/base.html" %}


{% block content %}

<!-- Navigation on top of the website -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<div class="navbar-header">
			<!-- place for our brand logo/name, clicking the logo will always bring you back to index page -->
			<a class="navbar-brand" href="/">viTweet</a>

			<!-- links to other templates -->
			<div class="container">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>


				<!-- basic small search for an new search (without going to the index page)-->
				<form class="navbar-form navbar-right" method="POST" action="/query">

					<div class="input-group">
						<input type="text" class="form-control" id="smallSearch" placeholder="Search" name="tweetID">
						<div class="input-group-btn">
							<button class="btn btn-default form-control" type="submit">
							<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>

					<!-- allows the user to choose between two different visualization types-->
					<div class="input-group-check">
						<label class="radio-right"><input type="radio" name="visopt" value="list" required> List</label>
						<label class="radio-right"><input type="radio" name="visopt" value="graph" required checked> Graph</label>
					</div>
				</form>
			</div>
		</div>
	</div>
</nav>

<div class="container">
	<!-- Switch to list visualization and switch from the currently used fList to the rList, on which the list view is based -->
	<div id="view-switch-container">
		<a href="/conversation/list?mode={{mode}}&basis={{other_basis}}">
			<button class="btn btn-default btn-md"><span class="glyphicon glyphicon-arrow-right"></span> Switch to List Visualization</button>
		</a>
	</div>
	
	<div id="export-container" class="dropdown">
	    <button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown">Export this conversation <span class="caret"></span></button>
    	<ul class="dropdown-menu">
		<!-- Download button; filename is created from 'datetime' at the start of the JSON file which is currently shown -->
		<li><a href="/download/json/{{use_basis}}" download>
			<span class="glyphicon glyphicon-download-alt"></span> Export as flat JSON
		</a></li>
		<li><a href="/download/json/{{other_basis}}" download>
			<span class="glyphicon glyphicon-download-alt"></span> Export as hierarchical JSON
		</a></li>
		<li><a href="/download/xml/{{other_basis}}" download>
			<span class="glyphicon glyphicon-download-alt"></span> Export as XML
		</a></li>
		<li><a href="/download/json/{{graph_data_filename}}" download>
			<span class="glyphicon glyphicon-download-alt"></span> Export graph JSON
		</a></li>
		</ul>
	</div>
	
	<h1>Graph Visualization of Tweet {{ response['conversation'][-1]['tweet_id'] }}</h1>

	<div id="graph-controls">
		<p>Drag the nodes around or hover over them to see more information!</p>
		<span>Graph display options: </span>
		<input type="button" id="toggle-labels" class="btn btn-primary btn-sm" value="Display user names" onclick="toggle_labels(this);">
	</div>
	
	{% if alert_message != None %}
	<p><span class="glyphicon glyphicon-alert"></span> {{ alert_message }}</p>
	{% endif %}
	
	<div id="svg-container" class="container">	
		<svg viewBox="0 0 900 600" preserveAspectRatio="xMidYMid meet"></svg>
	</div>
</div>

<script src="{{ url_for('static', filename='graph.js') }}" data="{{ graph_data_filename }}"></script>

{% endblock %}
