{% extends "bootstrap/base.html" %}

{% block content %}

<script src="{{url_for('static', filename='response.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='design.css')}}">

<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            <!-- place for our brand logo, clicking the logo will always bring you back to index page -->
            <a class="navbar-brand" href="/">viTweet</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to viTweet!</h1>
        <div class="container" id="mainSearch">
            <div id="loading"></div>
            <form method="POST" action="/conversation">
                <!-- main search with input field and submit button -->
                <div class="form-group">
                    <label for="mainSearch">Search Tweet</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" placeholder="URL or Tweet-ID" name="tweetID" autofocus>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" onclick="loading()">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>

                     <!-- allows the user to modify the search (search with different parameters) -->
                    <div class="input-group-check">
                        <label class="checkbox-inline"><input type="checkbox" name="langopt" value="de">English</label>
                        <label class="checkbox-inline"><input type="checkbox" name="langopt" value="en">German</label>
                        <label class="checkbox-inline"><input type="checkbox" name="langopt" value="fr">Französisch</label>
                        <label class="checkbox-inline"><input type="checkbox" name="langopt" value="es">Spanisch</label>
                        <label class="checkbox-inline"><input type="checkbox" name="langopt" value="it">Italienisch</label>
                        <!--<label class="checkbox-inline"><input type="checkbox" name="langopt" value="it">Italienisch</label>-->
                    </div>

                    <!-- allows the user to choose between two different visualization types-->
                    <div class="input-group-check">

                        <label class="radio-right"><input type="radio" name="visopt" value="list" required> List</label>
                        <label class="radio-right"><input type="radio" name="visopt" value="graph" required checked> Network</label>

                    </div>
                </div>
            </form>
        </div>
        <p>viTweet kann Gesprächsverläufe, die auf Twitter via Retweets und Replies realisiert werden, in einem dynamischen grafischen Netzwerk visualisieren. Da Twitter selbst ausschließlich Replies als Teil der Konversation anzeigt und diese auch lediglich linear darstellt, soll es mit der Applikation, durch einen Webservice bereitgestellt, Nutzer*innen ermöglicht werden, Gesprächsverläufe besser zu verfolgen. Gleichzeitig können die Visualisierungen bzw. das leichtere Verständnis der Gespräche als Grundlage für weitere Forschungen dienen.</p>
    </div>
</div> 


<!-- TODO: Handle whether the user is uploading a flat or recursive file -->
<div class="container" id="uploadOption"> 
	<form method="POST" action="/upload" enctype="multipart/form-data">
		<div class="form-group">
			<label for="fileUpload">Upload a file previously saved from viTweet (export type "flat JSON")</label>
			<div class="input-group">
				<input type="file" class="form-control" id="fileupload" name="file">
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</div>
			</div>
			<div class="input-group-check">
				<label class="radio-right"><input type="radio" name="visopt" value="list" required checked> List</label>
				<label class="radio-right"><input type="radio" name="visopt" value="graph" required> Network</label>
			</div>
		</div>
	</form>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     	<div class="text-center"><div class="alert alert-danger" role="alert"><strong>{{ message }}</strong></div></div>
      </div>  
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}

