{% extends "bootstrap/base.html" %}

{% block content %}

<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            <!-- place for our brand logo, click logo will always bring you back to index page -->
            <a class="navbar-brand" href="#">viTweet</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container" id="mainSearch">
<form method="POST" action="/conversation">
    <div class="form-group">
        <label for="mainSearch">Search Tweet</label>
        <input type="text" class="form-control" id="search" placeholder="URL oder Tweet-ID" name="tweetID">
        <button class="btn btn-primary" type="submit" value="Submit" role="button">Search</button>
    </div>

</form>
</div>


{% endblock %}
