<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="{{url_for('static', filename='response.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='design.css')}}">

{% extends "bootstrap/base.html" %}


{% block content %}

<!-- Navigation on top of the website -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<div class="navbar-header">
			<!-- place for our brand logo/name, clicking the logo will always bring you back to index page -->
			<a class="navbar-brand" href="/">viTweet</a>

			<!-- links to other templates -->
			<div class="container">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>


				<!-- basic small search for an new search (without going to the index page)-->
				<form class="navbar-form navbar-right" method="POST" action="/query">	

					<div class="input-group">
						<input type="text" class="form-control" id="smallSearch" placeholder="Search" name="tweetID">
						<div class="input-group-btn">
							<button class="btn btn-default form-control" type="submit">
							<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>

					<!-- allows the user to choose between two different visualization types-->
					<div class="input-group-check">
						<label class="radio-right"><input type="radio" name="visopt" value="list" required checked> List</label>
						<label class="radio-right"><input type="radio" name="visopt" value="graph" required> Graph</label>
					</div>
				</form>
			</div>
		</div>
	</div>
</nav>

<div class="container" style="margin-bottom: 50px">
	<!-- Switch to graph visualization and switch from the currently used rList to the fList, on which the graph view is based -->
	<div id="view-switch-container">
		<a href="/conversation/graph?mode={{mode}}&basis={{other_basis}}">
			<button class="btn btn-default btn-md"><span class="glyphicon glyphicon-arrow-right"></span> Switch to Graph Visualization</button>
		</a>
	</div>
	
	<!-- Download menu -->
	<div id="export-container" class="dropdown">
	    <button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown">Export this conversation <span class="caret"></span></button>
    	<ul class="dropdown-menu">
		<li><a href="/download/json/{{other_basis}}" download>
			<span class="glyphicon glyphicon-download-alt"></span> Export as flat JSON
		</a></li>
		<li><a href="/download/json/{{use_basis}}" download>
			<span class="glyphicon glyphicon-download-alt"></span> Export as hierarchical JSON
		</a></li>
		<li><a href="/download/xml/{{use_basis}}" download>
			<span class="glyphicon glyphicon-download-alt"></span> Export as XML
		</a></li>
		</ul>
	</div>

	<h1>Linear Visualization of Tweet {{response['conversation']['inv.tweet']['tweet_id']}}</h1>
	
</div>

<!-- list visualization with nested objects -->
<div class="container" id="listTweets">
	<div class="container">
		<div>
			<div>
				<!-- get number of replies from JSON -->
				<span class="badge" id="numreplies">{{response['conversation']['inv.tweet']['number_of_replies']}} Replies</span>

				<!-- show/hide replies -->
				<button onclick="showReplies()">show</button>
				<button onclick="hideReplies()">hide</button>
			</div>

			<div>
				<!-- get number of quotes from JSON -->
				<span class="badge" id="numquotes">{{response['conversation']['inv.tweet']['number_of_quote_tweets']}} Quotes</span>

				<!-- show/hide quotes -->
				<button onclick="showQuotes()">show</button>
				<button onclick="hideQuotes()">hide</button>
			</div>
		</div>

		<!-- main tweet with embedding code from JSON -->
		<div id="mainTweet">
			{{response['conversation']['inv.tweet']['embeddingCode']|safe}}
		</div>

		<!-- function to display all replies and quotes -->
		<div id="replyTweet">
			{{ render_boxes(response['conversation']['replies']) }}
		</div>
	</div>
</div>

{% endblock %}


<!-- function to show all replies and quotes (as different items); recursive function to catch replies of replies etc. -->
{% macro render_boxes(replies) %}
{% for items in replies %}
<div class="container">

	<!--disinguish between quotes and replies; if quotes then class=quote, else class=reply -->
	{% if items['inv.tweet']['isQuote'] %}
	<div class="quote">
		<div>
			<span class="badge" id="hidereplynumber">{{items['inv.tweet']['number_of_replies']}} Replies </span>
			<span class="badge" id="hidequotenumber">{{items['inv.tweet']['number_of_quote_tweets']}} Quotes </span>
		</div>
		{{items['inv.tweet']['embeddingCode']|safe}}
	</div>
	{% else %}
	<div class="reply">
		<div>
			<span class="badge" id="hidereplynumber2">{{items['inv.tweet']['number_of_replies']}} Replies </span>
			<span class="badge" id="hidequotenumber2">{{items['inv.tweet']['number_of_quote_tweets']}} Quotes </span>
		</div>
		{{items['inv.tweet']['embeddingCode']|safe}}
	</div>
	{% endif %}

	<!-- recursive function calls itself -->
	<div class="recursive">
		{% if items['replies'] %}
		{{ render_boxes(items['replies']) }}
		{% endif %}
	</div>
</div>
{% endfor %}
{% endmacro %}

