div#loading {
    display: none;
    cursor: wait;
}

#listTweets {
    max-width: 1000px;
    overflow-x: scroll;
    overflow-y: hidden
}

#mainTweet {
    background-color: deepskyblue;
    width: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#numreplies {
    background-color: lightcyan;
    margin-bottom: 20px;
}

#numquotes {
    background-color: aquamarine;
    margin-bottom: 20px;
}

.reply {
    background-color: lightcyan;
    width: 450px;
    margin-left: 75px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quote {
    background-color: aquamarine;
    width: 450px;
    margin-left: 750px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#hidequotenumber {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

#hidereplynumber {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

#hidequotenumber2 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#hidereplynumber2 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.recursive {
    margin-left: 75px;
    margin-top: 20px;
}