/* loading gif during API request */
div#loading {
    display: none;
    cursor: wait;
}

/* main container for list visualization */
#listTweets {
    max-width: 1000px;
    overflow-x: scroll;
    overflow-y: hidden
}

#mainTweet {
    background-color: deepskyblue;
    width: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* button to show/hide replies */
#numreplies {
    background-color: blue;
    margin-bottom: 20px;
}

/* button to show/hide quotes */
#numquotes {
    background-color: lightskyblue;
    margin-bottom: 20px;
}

.reply {
    background-color: blue;
    width: 450px;
    margin-left: 75px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quote {
    background-color: lightskyblue;
    width: 450px;
    margin-left: 750px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#hidequotenumber {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

#hidereplynumber {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

#hidequotenumber2 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#hidereplynumber2 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

/* interleaved levels for replies of replies */
.recursive {
    margin-left: 75px;
    margin-top: 20px;
}