
.nodes {
    cursor: pointer;
}

.links line {
    fill: none;
    /*stroke: #337ab7;*/
    stroke-width: 3px;
}

.links [line_type="reply"] {
  stroke: blue;
}

.links [line_type="quote_tweet"] {
  stroke: red;
}

.node text {
  pointer-events: none;
  font-family: Arial;
  font-size: 10pt;
}

.node text.text-content {

}

.node text.text-user {
  font-weight: bold;
}

.node text.text-screenname {
  font-weight: bold;
}
